<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
</head>

<body class="animated fadeIn fast">

    <!-- Content -->

    <div class="container-xxl ">
        <div class="authentication-wrapper authentication-basic container-p-y">
            <div class="authentication-inner">
                <!-- Register Card -->
                <div class="card">
                    <div class="card-body">
                        <!-- Logo -->
                        <div class="app-brand justify-content-center">
                            <img src="../../../assets/img/icons/brands/logo.png" alt="" style="max-width: 150px">
                            <!-- <span class="app-brand-text demo text-body fw-bolder">STG</span> -->
                        </div>
                        <!-- /Logo -->
                        <form [formGroup]="registerForm" (ngSubmit)="createNewUser(registerForm.value)" class="mb-3">
                            <div class="mb-3">
                                <label class="form-label" name="first_name" >Nombre</label>
                                <input type="text" class="form-control" id="username" name="username" placeholder="Ingresa tu nombre" formControlName="nombres"  autofocus />
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Email</label>
                                <input type="text" class="form-control" id="email" name="email" placeholder="Ingresa tu correo eletrónico" formControlName="correo" />
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Tipo de Usuario</label>
                                <select class="form-select" aria-label="Default select example" formControlName="tipo_usuario">
                                    <option selected value=1>Cliente</option>
                                    <option value=2>Consultoria</option>
                                    <option value=3>Ventas</option>
                                    <option value=4>Soporte</option>
                                    <option value=5>Servicios Administrados</option>
                                    <option value=6>Gerencia</option>
                                </select>
                            </div>
                            <div class="mb-3 form-password-toggle">
                                <label class="form-label" for="password">Contraseña</label>
                                <div class="input-group input-group-merge">
                                    <input type="password" id="clave" class="form-control" name="password" formControlName="clave" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" aria-describedby="password" />
                                    <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                                </div>
                            </div>
                            <div class="mb-3 form-password-toggle">
                                <label class="form-label" for="password">Confirmar contraseña</label>
                                <div class="input-group input-group-merge">
                                    <input type="password" #check class="form-control" name="password" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" />
                                    <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                                </div>
                            </div>
                            <a routerLinkActive="router-link-active">
                                <input class="btn btn-primary d-grid w-100" type="submit" value="Crear Usuario">
                            </a>
                        </form>

                        <p class="text-center">
                            <a [routerLink]="['/login']" routerLinkActive="router-link-active">
                                <span><hr> Inicia Sesión</span>
                            </a>
                        </p>

                        <div class="alert alert-danger text-center fadeIn fast" *ngIf="errorStatus"> {{errorMsg}} </div>
                    </div>
                </div>
                <!-- Register Card -->
            </div>
        </div>
    </div>

</body>

</html>