input.ng-invalid.ng-touched {
    border: solid 2px tomato;
}

select.ng-invalid.ng-touched {
    border: solid 2px tomato;
}

input.ng-valid {
    border: solid 2px greenyellow;
}

select.ng-valid {
    border: solid 2px greenyellow;
}

div {
    color: tomato;
} */

.form-submitted input.ng-invalid,
.form-submitted select.ng-invalid {
  border-color: #dc3545;
}
