<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div class="layout-wrapper layout-content-navbar">

        <div class="layout-container">

            <app-menu-soporte></app-menu-soporte>

            <div class="content-wrapper">

                <app-navbar></app-navbar> 

                <div class="container-xxl flex-grow-1 container-p-y animated fadeIn fast">
                    <div class="row">
                        <div class="col-md-4  mb-3">
                            <div class="card text-center">
                            <!-- <div class="card-header">Featured</div> -->
                            <div class="card-body">
                                <h5 class="card-title">Administrar Tickets</h5>
                                <!-- <p class="card-text">With supporting text below as a natural.</p> -->
                                <a href="javascript:void(0)" class="btn btn-primary"> Ver </a>
                            </div>
                            <!-- <div class="card-footer text-muted">2 days ago</div> -->
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="card text-center">
                                <!-- <div class="card-header">Featured</div> -->
                                <div class="card-body">
                                <h5 class="card-title">Departamentos</h5>
                                <!-- <p class="card-text">With supporting text below as a natural.</p> -->
                                <a href="javascript:void(0)" class="btn btn-primary"> Ver </a>
                                </div>
                                <!-- <div class="card-footer text-muted">2 days ago</div> -->
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="card text-center">
                                <!-- <div class="card-header">Featured</div> -->
                                <div class="card-body">
                                <h5 class="card-title">Grupos de personal</h5>
                                <!-- <p class="card-text">With supporting text below as a natural.</p> -->
                                <a href="javascript:void(0)" class="btn btn-primary"> Ver </a>
                                </div>
                                <!-- <div class="card-footer text-muted">2 days ago</div> -->
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="card text-center">
                                <!-- <div class="card-header">Featured</div> -->
                                <div class="card-body">
                                <h5 class="card-title">Mimbros de la plantilla</h5>
                                <!-- <p class="card-text">With supporting text below as a natural.</p> -->
                                <a href="javascript:void(0)" class="btn btn-primary"> Ver </a>
                                </div>
                                <!-- <div class="card-footer text-muted">2 days ago</div> -->
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card text-center">
                                <!-- <div class="card-header">Featured</div> -->
                                <div class="card-body">
                                <h5 class="card-title">Prioridades</h5>
                                <!-- <p class="card-text">With supporting text below as a natural.</p> -->
                                <a href="javascript:void(0)" class="btn btn-primary"> Ver </a>
                                </div>
                                <!-- <div class="card-footer text-muted">2 days ago</div> -->
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <div class="card text-center">
                                <!-- <div class="card-header">Featured</div> -->
                                <div class="card-body">
                                <h5 class="card-title">Status</h5>
                                <!-- <p class="card-text">With supporting text below as a natural.</p> -->
                                <a href="javascript:void(0)" class="btn btn-primary"> Ver </a>
                                </div>
                                <!-- <div class="card-footer text-muted">2 days ago</div> -->
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card text-center">
                                <!-- <div class="card-header">Featured</div> -->
                                <div class="card-body">
                                <h5 class="card-title">Banco de conocimientos</h5>
                                <!-- <p class="card-text">With supporting text below as a natural.</p> -->
                                <a href="javascript:void(0)" class="btn btn-primary"> Ver </a>
                                </div>
                                <!-- <div class="card-footer text-muted">2 days ago</div> -->
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card text-center">
                                <!-- <div class="card-header">Featured</div> -->
                                <div class="card-body">
                                <h5 class="card-title">Mensajes e-mail</h5>
                                <!-- <p class="card-text">With supporting text below as a natural.</p> -->
                                <a href="javascript:void(0)" class="btn btn-primary"> Ver </a>
                                </div>
                                <!-- <div class="card-footer text-muted">2 days ago</div> -->
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <div class="card text-center">
                                <!-- <div class="card-header">Featured</div> -->
                                <div class="card-body">
                                <h5 class="card-title">Configuracion</h5>
                                <!-- <p class="card-text">With supporting text below as a natural.</p> -->
                                <a href="javascript:void(0)" class="btn btn-primary"> Ver </a>
                                </div>
                                <!-- <div class="card-footer text-muted">2 days ago</div> -->
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card text-center">
                                <!-- <div class="card-header">Featured</div> -->
                                <div class="card-body">
                                <h5 class="card-title">Actualizaciones</h5>
                                <!-- <p class="card-text">With supporting text below as a natural.</p> -->
                                <a href="javascript:void(0)" class="btn btn-primary"> Ver </a>
                                </div>
                                <!-- <div class="card-footer text-muted">2 days ago</div> -->
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card text-center">
                                <!-- <div class="card-header">Featured</div> -->
                                <div class="card-body">
                                <h5 class="card-title">Obtener Soporte</h5>
                                <!-- <p class="card-text">With supporting text below as a natural.</p> -->
                                <a href="javascript:void(0)" class="btn btn-primary"> Ver </a>
                                </div>
                                <!-- <div class="card-footer text-muted">2 days ago</div> -->
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <div class="card text-center">
                                <!-- <div class="card-header">Featured</div> -->
                                <div class="card-body">
                                <h5 class="card-title">Configuracion de Cron Email Parser</h5>
                                <!-- <p class="card-text">With supporting text below as a natural.</p> -->
                                <a href="javascript:void(0)" class="btn btn-primary"> Ver </a>
                                </div>
                                <!-- <div class="card-footer text-muted">2 days ago</div> -->
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card text-center">
                                <!-- <div class="card-header">Featured</div> -->
                                <div class="card-body">
                                <h5 class="card-title">Registro de Cron Email Parser</h5>
                                <!-- <p class="card-text">With supporting text below as a natural.</p> -->
                                <a href="javascript:void(0)" class="btn btn-primary"> Ver </a>
                                </div>
                                <!-- <div class="card-footer text-muted">2 days ago</div> -->
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card text-center">
                                <!-- <div class="card-header">Featured</div> -->
                                <div class="card-body">
                                <h5 class="card-title">Reportes</h5>
                                <!-- <p class="card-text">With supporting text below as a natural.</p> -->
                                <a href="javascript:void(0)" class="btn btn-primary"> Ver </a>
                                </div>
                                <!-- <div class="card-footer text-muted">2 days ago</div> -->
                            </div>
                        </div>
                    </div>    
                </div>    

            </div>

        </div>

    </div>



</body>

</html>