<!DOCTYPE html>
<html lang="en">

<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>

<body>

    <div class="layout-wrapper layout-content-navbar">

        <div class="layout-container">

            <app-menu></app-menu>

            <div class="content-wrapper">

                <app-navbar></app-navbar> 

                <div class="container-xxl flex-grow-1 container-p-y animated fadeIn fast">
                    <div class="row">
                        <div class="col-md-6  mb-3" >
                            <div class="card text-center">
                            <!-- <div class="card-header">Featured</div> -->
                            <div class="card-body">
                                <h5 class="card-title">Crear un ticket</h5>
                                <!-- <p class="card-text">With supporting text below as a natural.</p> -->
                                <a href="javascript:void(0)" class="btn btn-primary"> Ver </a>
                            </div>
                            <!-- <div class="card-footer text-muted">2 days ago</div> -->
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="card text-center">
                                <!-- <div class="card-header">Featured</div> -->
                                <div class="card-body">
                                <h5 class="card-title">Actualizar Ticket</h5>
                                <!-- <p class="card-text">With supporting text below as a natural.</p> -->
                                <a href="javascript:void(0)" class="btn btn-primary"> Ver </a>
                                </div>
                                <!-- <div class="card-footer text-muted">2 days ago</div> -->
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="card text-center">
                                <!-- <div class="card-header">Featured</div> -->
                                <div class="card-body">
                                <h5 class="card-title">Ver Ticket</h5>
                                <!-- <p class="card-text">With supporting text below as a natural.</p> -->
                                <a href="javascript:void(0)" class="btn btn-primary"> Ver </a>
                                </div>
                                <!-- <div class="card-footer text-muted">2 days ago</div> -->
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="card text-center">
                                <!-- <div class="card-header">Featured</div> -->
                                <div class="card-body">
                                <h5 class="card-title">Ver Documentacion</h5>
                                <!-- <p class="card-text">With supporting text below as a natural.</p> -->
                                <a href="javascript:void(0)" class="btn btn-primary"> Ver </a>
                                </div>
                                <!-- <div class="card-footer text-muted">2 days ago</div> -->
                            </div>
                        </div>
                    </div>    
                </div>    

            </div>

        </div>

    </div>



</body>

</html>