<!DOCTYPE html>
<html lang="en">

<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>

<body>

    <div class="layout-wrapper layout-content-navbar">

        <div class="layout-container">

            <!-- <app-menu></app-menu> -->

            <div class="content-wrapper">

                <!-- <app-navbar></app-navbar>  -->

                <div class="container-xxl flex-grow-1 container-p-y animated fadeIn fast">
                    <div class="row">

                        <div class="col-md-6 mb-3">
                            <div class="card text-center">
                                <!-- <div class="card-header">Featured</div> -->
                                <div class="card-body">
                                <h5 class="card-title">Ver Ticket</h5>
                                <!-- <p class="card-text">With supporting text below as a natural.</p> -->
                                <a href="javascript:void(0)" class="btn btn-primary" (click)="openModal(listarTicket)"> Ver </a>
                                </div>
                                <!-- <div class="card-footer text-muted">2 days ago</div> -->
                            </div>
                        </div>

                        <div class="col-md-6 mb-3">
                            <div class="card text-center">
                                <!-- <div class="card-header">Featured</div> -->
                                <div class="card-body">
                                <h5 class="card-title">Ver Documentacion</h5>
                                <!-- <p class="card-text">With supporting text below as a natural.</p> -->
                                <a href="javascript:void(0)" class="btn btn-primary" (click)="openModal(documentacion)"> Ver </a>
                                </div>
                                <!-- <div class="card-footer text-muted">2 days ago</div> -->
                            </div>
                        </div>

                        <div class="col-md-6  mb-3" *ngIf="rol2">
                            <div class="card text-center">
                            <!-- <div class="card-header">Featured</div> -->
                            <div class="card-body">
                                <h5 class="card-title">Crear un ticket</h5>
                                <!-- <p class="card-text">With supporting text below as a natural.</p> -->
                                <button type="button" class="btn btn-primary" (click)="openModal(crearTicket)"> Ver </button>
                            </div>
                            <!-- <div class="card-footer text-muted">2 days ago</div> -->
                            </div>
                        </div>                          

                        <div class="col-md-6 mb-3">
                            <div class="card text-center" *ngIf="rol2">
                                <!-- <div class="card-header">Featured</div> -->
                                <div class="card-body">
                                <h5 class="card-title">Actualizar Ticket</h5>
                                <!-- <p class="card-text">With supporting text below as a natural.</p> -->
                                <a href="javascript:void(0)" class="btn btn-primary" (click)="openModal(updateTicket)"> Ver </a>
                                </div>
                                <!-- <div class="card-footer text-muted">2 days ago</div> -->
                            </div>
                        </div>

                    </div>    
                </div>    

            </div>

        </div>

    </div>


    <!-- Modal para crear un ticket -->
    <ng-template #crearTicket let-modal>
        
        <div class="modal-header">
            <div class="container">
                <h4 style="text-align: center;" class="modal-tittle">Crear Ticket</h4>     
            </div>
            <button class="btn-close" aria-label="close" type="button" (click)="modal.dismiss()"></button>  
        </div>
        <div class="modal-body">
            <form>
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="basic-default-name">Nombre</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="basic-default-name" placeholder="Ticket 1" />
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="basic-default-name">Prioridad</label>
                    <div class="col-sm-10">
                        <select class="form-select">
                            <option *ngFor="let prioridad of prioridades" [value]="prioridad.id"> {{ prioridad.nombre }} </option>
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="basic-default-name">Estado</label>
                    <div class="col-sm-10">
                        <select class="form-select">
                            <option *ngFor="let estado of estados" [value]="estado.id"> {{ estado.nombre }} </option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <div class="d-grid gap-2 col-6 mx-auto">
                <button type="button" class="btn btn-primary" (click)="modal.close()">Crear</button>
            </div>
        </div>

    </ng-template>

    <!-- Modal para actualizar un ticket -->
    <ng-template #updateTicket let-modal>

        <div class="modal-header">
            <div class="container">
                <h4 style="text-align: center;" class="modal-tittle">Actualizar Ticket</h4>   
            </div>
            <button type="button" class="btn-close" aria-label="close" (click)="modal.dismiss()"></button>
        </div>
        <div class="modal-body"></div>
        <div class="modal-footer">
            <div class="d-grid gap-2 col-6 mx-auto">
                <button type="button" class="btn btn-primary" (click)="modal.close()">Guardar</button>
            </div>
        </div>

    </ng-template>

    <!-- Modal para listar un ticket -->
    <ng-template #listarTicket let-modal>

        <div class="modal-header">
            <div class="container">
                <h4 style="text-align: center;" class="modal-tittle">Tickets</h4>
            </div>
            <button type="buttton" class="btn-close" aria-label="close" (click)="modal.dismiss()"></button>
        </div>
        <div class="modal-body"></div>
        <div class="modal-footer">
            <div class="d-grid gap-2 col-6 mx-auto">
                <button type="button" class="btn btn-primary" (click)="modal.close()">Cerrar</button>
            </div>
        </div>

    </ng-template>

    <!-- Modal para listar la documentacion -->
    <ng-template #documentacion let-modal>

        <div class="modal-header">
            <div class="container">
                <h4 style="text-align: center;" class="modal-tittle">Documentacion</h4>
            </div>
            <button type="button" class="btn-close" aria-label="close" (click)="modal.dismiss()"></button>
        </div>
        <div class="modal-body"></div>
        <div class="modal-footer">
            <div class="d-grid gap-2 col-6 mx-auto">
                <button type="button" class="btn btn-primary" (click)="modal.close()">Cerrar</button>
            </div>
        </div>

    </ng-template>

</body>

</html>