<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Document</title> -->
</head>

<body>

    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">

            <div class="content-wrapper">

                <div class="container-xxl flex-grow-1 container-p-y animated fadeIn fast">

                    <div class="row">
                        <div class="container col-6">
                            <ngx-charts-advanced-pie-chart
                            [view]="view"
                            scheme="vivid"
                            [results]="single"
                            [gradient]="gradient"
                            (select)="onSelect($event)"
                            (activate)="onActivate($event)"
                            (deactivate)="onDeactivate($event)"
                            >
                            </ngx-charts-advanced-pie-chart>

                            <button (click)="onRandomData()">Random data</button>
                        </div>  
                    
                        <div class="container col-6">

                            <ngx-charts-line-chart
                            [view]="view"
                            scheme="vivid"
                            [legend]="legend"
                            [showXAxisLabel]="showXAxisLabel"
                            [showYAxisLabel]="showYAxisLabel"
                            [xAxis]="xAxis"
                            [yAxis]="yAxis"
                            [xAxisLabel]="xAxisLabel"
                            [yAxisLabel]="yAxisLabel"
                            [timeline]="timeline"
                            [results]="multi"
                            (select)="onSelect($event)"
                            (activate)="onActivate($event)"
                            (deactivate)="onDeactivate($event)"
                            >
                            </ngx-charts-line-chart>

                        </div>
                    </div>
                  

                </div>

            </div>
        </div>
    </div>

</body>

</html>